In [1]:
'''Exercise
In exercise folder (same level as this notebook on github) there is hiring.csv. This file contains hiring statics for a firm such as experience of candidate, his written test score and personal interview score. Based on these 3 factors, HR will decide the salary. Given this data, you need to build a machine learning model for HR department that can help them decide salaries for future candidates. Using this predict salaries for following candidates,

2 yr experience, 9 test score, 6 interview score

12 yr experience, 10 test score, 10 interview score

Answer
53713.86 and 93747.79'''

'Exercise\nIn exercise folder (same level as this notebook on github) there is hiring.csv. This file contains hiring statics for a firm such as experience of candidate, his written test score and personal interview score. Based on these 3 factors, HR will decide the salary. Given this data, you need to build a machine learning model for HR department that can help them decide salaries for future candidates. Using this predict salaries for following candidates,\n\n2 yr experience, 9 test score, 6 interview score\n\n12 yr experience, 10 test score, 10 interview score\n\nAnswer\n53713.86 and 93747.79'

In [2]:
df=pd.read_csv("hiring.csv")

In [3]:
df.head()

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000

In [4]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from word2number import w2n

In [5]:
df.experience=df.experience.fillna("ZERO")

In [6]:
df.head()

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       ZERO                    8.0                           9      50000
1       ZERO                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000

In [7]:
df.experience=df.experience.apply(w2n.word_to_num)

In [8]:
df.head()

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000

In [9]:
df.isnull().sum()

experience                    0
test_score(out of 10)         1
interview_score(out of 10)    0
salary($)                     0
dtype: int64

In [11]:
import math 
median_test_score=df[['test_score(out of 10)']].mean()

In [14]:
df[['test_score(out of 10)']]=df[['test_score(out of 10)']].fillna(median_test_score)

In [15]:
df.isnull().sum()

experience                    0
test_score(out of 10)         0
interview_score(out of 10)    0
salary($)                     0
dtype: int64

In [18]:
reg=linear_model.LinearRegression()

In [20]:
#Fit the model
reg.fit(df[['experience','test_score(out of 10)','interview_score(out of 10)']],df['salary($)'])

LinearRegression()

In [21]:
#Predict the value
reg.predict([[2,9,6]])

array([53290.89255945])